{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Về chúng tôi | AnoC</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'home/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'home/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'home/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'home/assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Anoc
  * Template URL: https://bootstrapmade.com/Anoc-bootstrap-construction-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="about-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
      <a href="{% url 'home:home' %}" class="logo d-flex align-items-center">
        <h1 class="sitename">AnoC</h1> <span>.</span>
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'home/assets/img/logo.png' %}" alt=""> -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home:home' %}" >Trang chủ</a></li>
          <li><a href="{% url 'home:about' %}" class="active">Về chúng tôi</a></li>
          <li><a href="{% url 'home:services' %}">Tính năng</a></li>
          <!-- <li><a href="{% url 'home:projects' %}">Dự án</a></li>
          <li><a href="{% url 'home:blog' %}">Blog</a></li> -->
          <li><a href="{% url 'home:pricing' %}">Gói dịch vụ</a></li>
          <li><a href="{% url 'home:contact' %}">Liên hệ</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url({% static 'home/assets/img/pagetitle_bg.jpg' %});">
      <div class="container position-relative">
        <h1>Về chúng tôi</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home:home' %}">Trang chủ</a></li>
            <li class="current">Về chúng tôi</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="{% static 'home/assets/img/about_1.jpg' %}"></div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <h2 class="inner-title">Dự án và các thành viên</h2>
            <div class="our-story">
              <h4>Est 2024</h4>
              <h3>Giới thiệu và tầm nhìn</h3>
              <p>AnoC là viết tắt của Anonymous Chat. Đơn giản là lấy ba chữ cái đầu tiên của từ 'anonymous' là Ano kết hợp với chữ C trong 'Chat'. Chúng tôi đặt tên dựa trên tính năng độc đáo của nền tảng là đăng nhập ẩn danh, người dùng sử dụng nền tảng của chúng tôi không cần phải lộ danh tính.</p>
              <ul>
                <li><span>Tầm nhìn:</span></li>
              </ul>
              <p>Nhóm chúng tôi phát triển một Chatbot AI chuyên dụng cho các học sinh, sinh viên, hỗ trợ học tập và phân chia theo chuyên ngành để tạo không gian trò chuyện hiệu quả mà không cần đăng ký hoặc trả phí. Mục tiêu là không cạnh tranh với các nền tảng khác, mà cung cấp một tùy chọn cho học sinh, sinh viên. Dự án có tiềm năng mở rộng sang nhiều cơ sở giáo dục khác nếu được đón nhận.</p>

              <!-- <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox stretched-link">Watch Video</a> -->
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Counter Section -->
    <section id="stats-counter" class="stats-counter section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Số liệu</h2>
        <p>Số liệu thực tế về sản phẩm AnoC:</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1" class="purecounter"></span>
                <p>Khách hàng hài lòng</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
                <p>Dự án</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-headset color-green flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="2003" data-purecounter-duration="1" class="purecounter"></span>
                <p>Số giờ làm việc</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-people color-pink flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
                <p>Thành viên chăm chỉ</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Counter Section -->

    <!-- Alt Services 2 Section -->
    <section id="alt-services-2" class="alt-services-2 section">

      <div class="container">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h3>Nhiệm vụ</h3>
            <p>Giúp sinh viên tham gia các nhóm trong khi vẫn giữ tính ẩn danh và có một nền tảng nội bộ đáng tin cậy, chúng tôi đảm bảo các biện pháp bảo mật được sử dụng mà không cần đến ứng dụng bên thứ ba. Hơn nữa, chúng tôi cố gắng cung cấp một công cụ được thiết kế dành cho sinh viên để họ có thể đóng góp vào các tài liệu học tập và cải thiện kiến thức.</p>

            <h3>Giá trị cốt lõi của AnoC:</h3>

            <div class="row">

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-easel flex-shrink-0"></i>
                <div>
                  <h4>An toàn và Bảo mật:</h4>
                  <p>Đảm bảo môi trường học tập an toàn, bảo vệ quyền riêng tư của sinh viên và thông tin cá nhân.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-patch-check flex-shrink-0"></i>
                <div>
                  <h4>Đổi mới và Sáng tạo:</h4>
                  <p>Luôn tìm kiếm cách tiếp cận mới mẻ và sáng tạo trong giáo dục, ứng dụng công nghệ AI để nâng cao trải nghiệm học tập.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <h4>Tính ẩn danh:</h4>
                  <p>Cho phép sinh viên tham gia vào các hoạt động học tập mà không phải lo lắng về việc tiết lộ danh tính cá nhân.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <h4>Tiện ích và Dễ sử dụng</h4>
                  <p>Cung cấp một nền tảng dễ sử dụng, giúp sinh viên dễ dàng tiếp cận và sử dụng các công cụ học tập hiệu quả.</p>
                </div>
              </div><!-- End Icon Box -->

            </div>

          </div>

          <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'home/assets/img/Features_3.2.jpg' %}" alt="">
          </div>

        </div>

      </div>

    </section><!-- /Alt Services 2 Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Thành viên</h2>
        <p>Những thành viên chủ chốt của tập đoàn AnoC</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'home/assets/img/team/team_1.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Ngô Minh Vương</h4>
              <span>Chủ tịch tập đoàn AnoC</span>
              <p>"Ông là người tiên phong trong ứng dụng AI hỗ trợ học tập, tạo ra một không gian thông minh và an toàn cho sinh viên kết nối và trao đổi thông tin hiệu quả."</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'home/assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Vũ Trường Giang</h4>
              <span>Phó chủ tịch tập đoàn AnoC</span>
              <p>"Ông thúc đẩy phát triển nền tảng AI, tạo điều kiện cho sinh viên học tập hiệu quả và an toàn."</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="{% static 'home/assets/img/team/team_3.0.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Tạ Hữu Phúc Lâm</h4>
              <span>Lập trình viên Front-end</span>
              <p>"Ông phát triển giao diện trực quan, giúp sinh viên dễ dàng tương tác với nền tảng AI học tập, tối ưu hóa trải nghiệm chia sẻ kiến thức và tài liệu."</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="{% static 'home/assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Đinh Công Bình</h4>
              <span>Lập trình viên Back-end</span>
              <p>"Ông phát triển và duy trì máy chủ và cơ sở dữ liệu của AnoC để mang đến trải nghiệm người dùng mượt mà."
              </p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="{% static 'home/assets/img/team/team-5.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Nguyễn Khánh Tùng</h4>
              <span>Chuyên gia lập trình AI</span>
              <p>"Ông tích hợp AI vào nền tảng, phát triển thuật toán học máy để tối ưu hóa phân tích dữ liệu và hỗ trợ Chatbot, cung cấp gợi ý và tài nguyên học tập cá nhân hóa cho sinh viên."</p>
            </div>
          </div><!-- End Team Member -->



        </div>

      </div>

    </section><!-- /Team Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <h1 class="sitename">Anoc</h1> <span>.</span>
            <span class="sitename">Anoc</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Khu Công nghệ cao Hòa Lạc</p>
            <p>Km29 Đại lộ Thăng Long, huyện Thạch Thất, Hà Nội</p>
             <p class="mt-3"><strong>Số điện thoại:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Liên kết</h4>
          <ul>
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Về chúng tôi</a></li>
            <li><a href="#">Tính năng</a></li>
            <li><a href="#">Điều khoản dịch vụ</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Anoc</strong> <span>All Rights Reserved</span></p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'home/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'home/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'home/assets/js/main.js' %}"></script>

</body>

</html>